body {
    background-color: black; 
    color: #fff;       
    
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
    transition: background-color 0.5s, color 0.5s;
}

.main-header {
    
    background-color: #333; 
    
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    
    
    width: 100%; 
    padding: 10px 0; 
}