body {
    
    background-color: #8B4513; 
    background-image: url('/images/spruce_plank.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}

.oak-sign{
    height: 150px;
    width: 850px;
    z-index: 50;
    position: fixed;
    right: 320px;
    top: 100px;
}
.iron-chain{
    height: 220px;
    width: 220px;
    z-index: 50;
    position: fixed;
    top: 50px;
}
.left-chain{
    left: 850px;
    top: -80px;
}
.right-chain{
    right: 850px;
    top: -80px;
}
.redstone-lamp {
    height: 150px; 
    width: 150px;
    z-index: 100; 
    position: fixed; 
    top: 50px; 
}

.left-lamp {
    left: 90px; 
    top:  85px;
}

.right-lamp {
    right: 90px; 
    top: 85px;
}
.stone-brick{
    height: 300px;
    width: 2005px;
    z-index: 50;
    position: fixed;
    right: 1px;
    top: 500px;
}
